@import './index.css';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gs-200);
    border-bottom: 1px solid var(--clr-grey);
}

.header__button {
    border: none;
    background-color: white;
}